<mat-horizontal-stepper #stepper linear *ngIf="currentOrder">
  <mat-step [stepControl]="orderFormGroup" i18n-label label="Détails du mandat">
    <gs2-order-type-step
      [orderFormGroup]="orderFormGroup"
      [orderTypes]="orderTypes$ | async"
      [products]="products"
      [user]="currentUser$ | async">
    </gs2-order-type-step>
    <div class="bottom-container flex-row">
      <button color="warn" mat-button (click)="resetForms();stepper.selectedIndex = 0">
        {{ AppConstants.RESET }}
      </button>
      <button color="primary" mat-raised-button matStepperNext (click)="createOrUpdateDraft()">
        {{ AppConstants.NEXT }}
      </button>
    </div>
  </mat-step>

  <mat-step *ngIf="billingRequired()" [stepControl]="contactFormGroup" i18n-label label="Facturation / Tiers">
    <gs2-contact-pricing-step
      [contactFormGroup]="contactFormGroup"
      [orderFormGroup]="orderFormGroup"
      [orderTypes]="orderTypes$ | async"
      [products]="products"
      [user]="currentUser$ | async">
    </gs2-contact-pricing-step>

      <div class="bottom-container flex-row">
        <button color="warn" mat-button (click)="resetForms();stepper.selectedIndex = 0">
          {{ AppConstants.RESET }}
        </button>
        <button color="primary" mat-button matStepperPrevious>{{ AppConstants.PREVIOUS }}</button>
        <button color="primary" mat-raised-button matStepperNext (click)="createOrUpdateDraft()">{{ AppConstants.NEXT }}
        </button>
      </div>
  </mat-step>

  <mat-step [stepControl]="orderItemFormGroup" i18n-label label="Aperçu de la commande">
      <gs2-data-format-step
        [dataSource]="dataSource"
        [orderItemFormGroup]="orderItemFormGroup"
        [allAvailableFormats]="allAvailableFormats"
        [order]="currentOrder">
      </gs2-data-format-step>
      <div class="flex-row">
        <button color="warn" mat-button type="button" (click)="resetForms();stepper.selectedIndex = 0">
          {{ AppConstants.RESET }}
        </button>
        <button color="primary" mat-button matStepperPrevious>{{ AppConstants.PREVIOUS }}</button>
        <button color="primary" mat-raised-button type="submit" [disabled]="orderItemFormGroup.invalid" (click)="confirm()">
          {{buttonConfirmLabel}}
        </button>
      </div>
  </mat-step>
</mat-horizontal-stepper>
