API_BASE_URL="http://localhost:8000"
API_ROOTURL=""
MEDIA_URL="http://localhost:8000/api"
SEARCH_URL_0="https://lkgr.geogr.ch/search"
SEARCH_QUERY_PARAM_NAME_0="query"
SEARCH_QUERY_SUFFIX_0="limit=30&partitionlimit=5&interface=desktop&lang=en"
SEARCH_LAYERS_PARAM_NAME_0="categories"
SEARCH_LAYERS_0="Adressen,Gemeindegrenzen,Kantone"
SEARCH_PROVIDER_NAME_0="mapfish"

SEARCH_URL_1="https://map.geo.gr.ch/search"
SEARCH_QUERY_PARAM_NAME_1="query"
SEARCH_QUERY_SUFFIX_1="limit=30&partitionlimit=5&interface=public&lang=de"
SEARCH_LAYERS_PARAM_NAME_1="categories"
SEARCH_LAYERS_1="Grundstück"
SEARCH_PROVIDER_NAME_1="mapfish"

LOCAL_AUTH_ENABLED=false
OIDC_OP_BASE_URL=""
FRONTEND_BASE_URL=""
FRONTEND_BASE_URL=""
OIDC_RP_CLIENT_ID=""
NO_BILLING_FOR_FREE_ORDER=true