<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h1 mat-dialog-title cdkDragHandle i18n>Saisie manuelle</h1>
  <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" dynamicHeight>
    <mat-tab i18n-label label="Format pré-configuré">
      <div mat-dialog-content>
        <mat-form-field>
          <mat-label i18n>Format de la page</mat-label>
          <mat-select [(value)]="data.selectedPageFormat">
            <mat-option *ngFor="let pageFormat of data.pageFormats" [value]="pageFormat">
              {{pageFormat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Echelles</mat-label>
          <mat-select [(value)]="data.selectedPageFormatScale">
            <mat-option *ngFor="let pageFormatScale of data.pageFormatScales" [value]="pageFormatScale">
              {{pageFormatScale}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Rotation</mat-label>
          <input matInput type="number" min=0 max=360 [(ngModel)]="data.rotationPageFormat">
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab i18n-label label="Rectangle englobant">
      <div mat-dialog-content>
        <mat-form-field>
          <mat-label i18n>Ouest (X min)</mat-label>
          <input matInput type="number" [min]="data.constraints[0]" [max]="data.constraints[2]" [(ngModel)]="data.extent[0]">
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Sud (Y min)</mat-label>
          <input matInput type="number" [min]="data.constraints[1]" [max]="data.constraints[3]" [(ngModel)]="data.extent[1]">
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Est (X max)</mat-label>
          <input matInput type="number" [min]="data.constraints[0]" [max]="data.constraints[2]" [(ngModel)]="data.extent[2]">
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Nord (Y max)</mat-label>
          <input matInput type="number" [min]="data.constraints[1]" [max]="data.constraints[3]" [(ngModel)]="data.extent[3]">
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" i18n>Annuler</button>
    <button mat-button [mat-dialog-close]="data">Ok</button>
  </div>
</div>
