:host {
  display: flex;
  height: calc(100vh - 64px);

  .mat-mdc-card {
    margin: 10px auto;
    flex: 1;
    max-width: 960px;
  }

  form {
    height: calc(100vh - 64px - 60px - 40px - 60px - 72px);
    overflow-y: auto;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem; // or any value you prefer
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;

    .mat-mdc-button {
      &:only-child {
        margin-left: auto;
      }
    }
  }
}
