:host {

  .mat-mdc-card {
    display: grid;
    gap: 10px;
    margin: 10px auto;
    max-width: 960px;
  }

  mat-card-title {
    padding: 8px;
  }

  mat-card-content {
    height: calc(100vh - 300px);
    overflow:scroll;
  }

  form {
    display: grid;
    grid-template-columns: auto;
    gap: 16px;
  }

  .bottom-container {
    display: flex;
    justify-content: flex-end;

    .mat-mdc-button {
      &:only-child {
        margin-right: auto;
      }
    }
  }
}
