<ng-container *ngIf="isLoggedIn$|async">
  <div class="flex-row name-container">
    <mat-icon>face</mat-icon>
    <span>{{(user$|async) && (user$|async)?.first_name && (user$|async)?.last_name ?
      (user$|async)?.first_name + ' ' + (user$|async)?.last_name :
      (user$|async)?.username}}</span>
  </div>

  <button mat-button color="primary" [routerLink]="['/account/orders']">
    <span class="flex-row">
      <mat-icon>receipt</mat-icon>
      <span i18n="@@account.order">Mes Commandes</span>
    </span>
  </button>
  <button mat-button color="primary" [routerLink]="['/account/profile']">
    <span class="flex-row">
      <mat-icon>perm_identity</mat-icon>
      <span i18n="@@account.profile">Mon profil</span>
    </span>
  </button>
  <button mat-button color="primary" (click)="logout()">
    <span class="flex-row">
      <mat-icon>exit_to_app</mat-icon>
      <span i18n="@@account.logout">Déconnexion</span>
    </span>
  </button>

</ng-container>

<ng-container *ngIf="!(isLoggedIn$|async) && localAuthEnabled">
  <div class="flex-row px-16">
    <mat-icon class="overflow">info</mat-icon>
    <span i18n="@@account.auth_required">Pour commander vous devez obligatoirement vous authentifier.</span>
  </div>
  <button mat-button color="primary" [routerLink]="['auth/login']">
      <mat-icon>input</mat-icon>
      <span i18n="@@account.log_in">S'authentifier</span>
  </button>
  <button mat-button color="primary" [routerLink]="['auth/register']">
      <mat-icon>person_add</mat-icon>
      <span i18n="@@account.create_account">Créer un compte</span>
  </button>
</ng-container>

<ng-container  *ngIf="!(isLoggedIn$|async) && !localAuthEnabled">
  <button *ngIf="oidcEnabled" i18n="@@login.login_oidc" class="form-login-button" color="primary" mat-raised-button (click)="oidcAuthClick()" >
    Login with Zitadel
  </button>
</ng-container>
