:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  main {
    height: calc(100vh - var(--mat-toolbar-standard-height));
    overflow: hidden;
  }

  .mat-icon {
    color: var(--mat-sys-on-primary);
  }

  .header-title {
    cursor: pointer;
    color: var(--mat-sys-primary);
    text-decoration: none;
    font-size: 60px;
    align-items: center;  
    display: inline-flex;   // Add this
    line-height: 70px;
    height:70px;
  }

  .header-title ::ng-deep .mat-button-wrapper {
    min-height: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    display: flex;
    align-items: center;
    padding: 0 !important;
  }

  .header-subtitle {
    font-size: 16px;
    margin-left: 16px;
    padding-right: 16px;
    display: inline-flex;
    align-items: flex-end;
    height: 48px;
    padding-bottom: 5px;
    line-height: 1; /* avoid extra text offset from line-height */
  }

  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-divider {
    height: 40px;
    margin: 0 10px;
    border-right-color: var(--mat-sys-primary);
    margin-top: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: var(--mat-sys-on-primary);
    color: var(--mat-sys-primary);
  }

  ::ng-deep .mat-badge-content {
    background: var(--mat-sys-primary);
    color: #fff;
  }

  .mat-mdc-icon-button img {
    display: block;
    margin: auto;
    padding: 0;
  }

  .mat-mdc-icon-button {
    top:10px
  }

  .first-logo {
    margin-right: 2rem;
  }
}