:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  main {
    height: calc(100vh - 64px);
    overflow: hidden;
  }

  .mat-icon {
    color: var(--mat-sys-on-primary);
  }

  .header-title {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .header-subtitle {
    font-size: 16px;
    margin-left: 16px;
  }

  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-divider {
    height: 40px;
    margin: 0 10px;
    border-right-color: var(--mat-sys-on-primary);
  }

  .spacer {
    flex: 1 1 auto;
  }
}