<div class="title" mat-menu-item disabled>
    <span>Geoshop {{versionInfo}}</span>
</div>
<mat-divider></mat-divider>

<a mat-menu-item href="{{supportUrl}}" target="_blank">
  <mat-icon fontIcon="support">support</mat-icon>
  <span i18n="@@help.show">Voir l'aide</span>
</a>

<a *ngIf="tariffsUrl" mat-menu-item href="{{tariffsUrl}}" target="_blank" i18n>
  Informations sur la tarification
</a>

<a *ngIf="conditionsUrl" mat-menu-item href="{{conditionsUrl}}" target="_blank" i18n>
  Conditions d'utilisation
</a>

<mat-divider></mat-divider>
<span class="mat-mdc-menu-item title" disabled i18n>Avez-vous des questions ?</span>

<a mat-menu-item [href]="'tel:' + phoneNumber">
  <mat-icon color="primary" i18n="@@main.phone" fontIcon="phone"></mat-icon>
  <span>{{phoneLabel}}</span>
</a>

<a mat-menu-item color="primary" [href]="'mailto:' + email">
  <mat-icon color="primary" i18n="@@main.email" fontIcon="email"></mat-icon>
  <span>{{email}}</span>
</a>
