:host {
  display: block;

  mat-sidenav-container {
    height: 100%;

    mat-sidenav {
      width: 400px;
    }
  }

  .drawer-button {
    position: absolute;
    top: calc(50% + 12px);
  }

  .custom-gutter {
    background-color: var(--mat-sys-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .custom-gutter-icon {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }

  gs2-catalog {
    background-color: var(--mat-sys-primary);
  }

  height: 100%;

  gs2-catalog {
    box-sizing: border-box;
    background: var(--mat-sys-primary);
  }
}