@use "sass:color";
@use '@angular/material' as mat;
@use "./palette.scss" as palette;


html {

  @include mat.theme((
      color: (theme-type: light,
        primary: palette.$primary-palette,
        tertiary: palette.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}
// 26a59a
:root {
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    ));
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-primary),
      supporting-text-color:var(--mat-sys-on-primary),
    ));
  @include mat.button-overrides((protected-container-shape: 4px,
      protected-container-color: var(--mat-sys-primary),
      protected-label-text-color: var(--mat-sys-on-primary),
    ));
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  --mat-sys-primary: #0785DE;
  --mat-sys-on-primary: #ffffff;
  --mat-toolbar-standard-height: 6.125rem;
  --mat-form-field-container-vertical-padding: 13px;
  --dark-input-background-color: #f5f5f5;
  --mat-sys-surface-container: #efefef;
  --mat-sys-secondary-container: #acd2ed;
  --grey-background: #efefef;
  --dark-input-border-color: #c4c4c4;
}

ul {
  margin: 0;
  padding: 0;
}

.mini-map {
  width: 30%;
  height: 250px;

  @media (width <=527px) {
    width: 100%;
  }
}


.ol-tooltip-area.invalid {
  border:solid 1px red;
  background: rgba(255, 0, 0, 0.75);
}

.ol-tooltip-area {
  position: relative;
  background: rgb(0 0 0 / 50%);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
  opacity: 1;
  font-weight: bold;
}

.order-item-container,
.list-group-item,
.items-container {
  .item-price {
    color: var(--mat-sys-primary);
  }

  &:nth-child(even) {
    background-color: color.scale(#eee, $lightness: -3%);
  }

  &:nth-child(odd) {
    background-color: #eee;
  }
}

.mat-mdc-text-field-wrapper {
  background-color: var(--dark-input-background-color) !important;
  border: 1px solid var(--dark-input-border-color) !important;
  border-radius: 0 !important;
}

.mat-mdc-form-field-infix {
  min-height: 3.124rem !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-form-field .mdc-line-ripple {
  display: none !important;
  border: none !important;
}

.mat-mdc-card {
  box-shadow: none !important;
  border: solid 1px var(--dark-input-border-color) !important;
  border-radius: 0 !important;
}

gs2-cart-overlay.mat-mdc-menu-item  > :nth-child(2) {
  margin-left: auto;
}

.mat-mdc-menu-panel {
  border-radius: 0;
}

.mat-mdc-dialog-surface {
  border-radius: 0 !important;
}

.mat-mdc-menu-panel {
  border-radius: 0 !important;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-primary);

  button {
    border-radius: 4px;
  }

  &.notification-error {
    --mdc-snackbar-container-color: red;

    button {
      background-color: darkred;
    }
  }

  &.notification-success {
    --mdc-snackbar-container-color: var(--mat-sys-primary);

    button {
      background-color: var(--mat-sys-on-primary);
    }
  }
}
