/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "./palette.scss" as palette;


html {
  @include mat.theme((color: (theme-type: light,
        primary: palette.$primary-palette,
        tertiary: palette.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}


:root {
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    ));
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.mini-map {
  width: 30%;
  height: 250px;

  @media (width <=527px) {
    width: 100%;
  }
}


.ol-tooltip-area {
  position: relative;
  background: rgb(0 0 0 / 50%);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
  opacity: 1;
  font-weight: bold;
}