<!-- TODO links are pointing to NE speciffic locations-->
<a color="primary" mat-button href="https://youtu.be/KIkISZdYSU0" target="_blank">
  <div class="flex-row">
    <mat-icon>support</mat-icon>
    <span i18n="@@help.show">Voir l'aide</span>
  </div>
</a>

<a *ngIf="tariffsUrl" color="primary" mat-button href="{{tariffsUrl}}" target="_blank">
  <div class="flex-row" i18n>
    Informations sur la tarification
  </div>
</a>

<a *ngIf="conditionsUrl" color="primary" mat-button href="{{conditionsUrl}}" target="_blank">
  <div class="flex-row" i18n>
    Conditions d'utilisation
  </div>
</a>

<!-- TODO: add links to the pricing document -->
<!-- TODO: add links to the usage conditions -->
<hr>
<span class="padding-horizontal-15 questions" i18n>Avez-vous des questions ?</span>

<a mat-button color="primary" [href]="'tel:' + phoneNumber">
  <div class="flex-row">
    <mat-icon color="primary" i18n="@@main.phone">phone</mat-icon>
    <span>{{phoneLabel}}</span>
  </div>
</a>

<a mat-button color="primary" [href]="'mailto:' + email">
  <div class="flex-row">
    <mat-icon color="primary" i18n="@@main.email">email</mat-icon>
    <span>{{email}}</span>
  </div>
</a>

